# Python
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Editable install
*.pth

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Tools
pyrightconfig.json
.ruff_cache/
.mypy_cache/
.pytest_cache/

# OS
.DS_Store
